:root{
  --karla: "Karla", sans-serif;
  --inter: "Inter", sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html{
  font-family: var(--karla);
  font-size: 62.5%;  
}

main {
  padding: 36px;
  max-width: 900px;
  margin: 0 auto;
}

.header {
  display: flex;
  align-items: center;
  height: 65px;
  background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
  color: white;
  padding: 20px;
}

.header--image {
  height: 100%;
  margin-right: 6px;
}

.header--title {
  font-family: var(--karla);
  font-weight: 700;
  font-size: 20.7482px;
  line-height: 24px;
  letter-spacing: -0.05em;
  margin-right: auto;
}

.header--project {
  font-family: var(--inter);
  font-size: 1.2rem;
  font-weight: 500;
}

.form {
  display: grid;
  grid-template: 40px 40px / 1fr 1fr;
  gap: 17px;
}

.form--input {
  font-family: "Karla", sans-serif;
  border-radius: 5px;
  border: 1px solid #D5D4D8;
  text-indent: 5px;
}

.form--button {
  grid-column: 1 / -1;
  font-family: "Karla", sans-serif;
  border-radius: 5px;
  background: linear-gradient(90.41deg, #711F8D 1.14%, #A818DA 100%);
  color: white;
  border: none;
  cursor: pointer;
}

.meme--image {
  width: 100%;
  height: auto;
  margin-top:20px;
  border-radius: 5px;
}